<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportOrders.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=langw7.cs.camosun.bc.ca;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=student01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>